<p id="notice"><%= notice %></p>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    background-color: #4CAF50;
    color: white;
}

table{
  width:70%;
  
}
.button{
  border-color:white;
  border-radius:10px;
  background-color:#0099ff;
  color:white;
  height:30px;
  width:90px;
  margin-left:20px;
}
table tr:nth-child(even){
    background: lightgrey;
}

table tr:nth-child(odd){
    background: white;
}
</style>
</head>
<body>

<table style="width:100%">
<h1>People Database</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Color</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.weight %></td>
        <td><%= person.height %></td>
        <td><%= person.color %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to "New Person", new_person_path,:class => "button", :method => :get %>
<br>
<button style="border-color:white;border-radius:10px;background-color:#0099ff;color:white;height:30px;width:90px;margin-left:20px"type="button" onclick="document.getElementById('showup').style.visibility= 'visible'">Display all</button>
<button style="border-color:white;border-radius:10px;background-color:#0099ff;color:white;height:30px;width:90px;margin-left:40px" type="button" onclick="document.getElementById('showup').style.visibility= 'hidden'">Hidden all</button>
<div id = "showup" style = "visibility: hidden;margin-left: 200px;">
  <% @people.each do |person| %>
    <svg style = "margin-top: 50px;" width="<%= person.weight+30 %>" height="<%= person.height %>">
      <rect  width="<%= person.weight %>" height="<%= person.height %>" style="margin-top: 50px;fill:<%= person.color %>;stroke-width:0;stroke:rgb(0,0,0)" />
         <text x="25" y="20" style="fill:white;"><%= person.name %>
        </text>
  </svg>
  <% end %>
</div>
